@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .inputStyle {
      @apply border border-gray-300 rounded-lg  focus:outline-none focus:ring focus:border-blue-300 hover:ring-2 hover:ring-blue-300 transition duration-300 ease-in-out p-3;
    }
    .inputStyleError {
      @apply border border-gray-300 rounded-lg  focus:outline-none focus:ring focus:border-red-300 hover:ring-2 hover:ring-red-300 transition duration-300 ease-in-out p-4;
    }
    .errorMessages {
      @apply text-red-600 text-[16px] pt-1;
    }
    .labelText{
        @apply text-xl my-1
    }
  }


  .text-on-hover {
    visibility: hidden;
    width: auto;
    background-color: green;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: -250%; /* Position the text above the icon */
    left: 50%;
    transform: translateX(-50%);
    /* convert multiple line in single line */
    white-space: nowrap;
  }

  .icon-container {
    position: relative;
    /* display: inline-block; */
    cursor: pointer;
  }

  .icon-container:hover .text-on-hover {
    visibility: visible;
  }
  
  